body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-usps,
.fa-ups {
  font-size: 1.5rem;
}

.fa-fedex {
  font-size: 2rem;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .limit-lg-size {
    max-width: 50%; /* or 600px or whatever looks right */
    margin: 0 auto;
    display: block; /* if you want it centered */
  }
}
